@import "../utilities/mixins.scss";
$prefixs: (sm,md,lg,xl,xxl);

// Position classes.
$positions: (static,relative,absolute,fixed,sticky);


@each $pos in $positions {
    .pos\.#{$pos},
    .position\.#{$pos} {
        position: $pos;
    }
    @each $prefix in $prefixs {
        @include media-breakpoint($prefix) {
            .#{$prefix}\:pos\.#{$pos},
            .#{$prefix}\:position\.#{$pos} {
                position: $pos;
            }
        }
    }
}

.top-left,
.top-center,
.top-right {
    top: 0;
}
.top-right,
.center-right,
.bottom-right {
    right: 0;
}
.bottom-left,
.bottom-center,
.bottom-right {
    bottom: 0;
}
.top-left,
.center-left,
.bottom-left {
    left: 0;
}
.center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@for $i from 0 through 4 {
    .top\.#{$i} { top: $i * 25%; }
    .right\.#{$i} { right: $i * 25%; }
    .bottom\.#{$i} { bottom: $i * 25%; }
    .left\.#{$i} { left: $i * 25%; }
    @each $prefix in $prefixs {
        .#{$prefix}\:top\.#{$i} { top: $i * 25%; }
        .#{$prefix}\:right\.#{$i} { right: $i * 25%; }
        .#{$prefix}\:bottom\.#{$i} { bottom: $i * 25%; }
        .#{$prefix}\:left\.#{$i} { left: $i * 25%; }
    }
}
.float\.left { float: left; }
.float\.right { float: right; }
@each $prefix in $prefixs {
    .#{$prefix}\:float\.left { float: left; }
    .#{$prefix}\:float\.right { float: right; }
}