// Box sizing
html {
    box-sizing: border-box;
}
* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

// Media
img,
video {
    height: auto;
    max-width: 100%;
}

// Iframe
iframe {
    border: 0;
}

// Table
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    -webkit-appearance: none;
    position: static;
    
    margin: 0;
    padding: 0;
    border-width: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    
    list-style: none;
    text-decoration: none;
    background: transparent;

    transition: 0s;
}
a:active {
    color: initial;
}

hr {
    display: block;
    width: 100%;

    border: 1px;
    border-style: inset;
    border-color: #c0c0c0;
    margin-block: 4px;

}

h1 { font-weight: normal; font-size: 5rem; }
h2 { font-weight: normal; font-size: 4rem; }
h3 { font-weight: normal; font-size: 3rem; }
h4 { font-weight: normal; font-size: 2.5rem; }
h5 { font-weight: normal; font-size: 2rem; }
h6 { font-weight: normal; font-size: 1.5rem; }

a *,
button * {
    pointer-events: none;
}