.input {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--sandvik-200);
    padding: 0.25rem 1rem;
    font-size: 1rem;
    line-height: 1.75;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transition: 0.15s;
}
.input:focus {
    color: var(--sandvik-800);
    border-color: var(--sandvik-800);
}
.input[readonly] {
    background: rgba(10,10,30,0.1);
}