@import "../utilities/mixins";

$sidebar-sizes: (sm: 96px, md: 160px, lg: 208px, xl: 256px, xxl: 304px);
$prefixs: (sm,md,lg,xl,xxl);

// Master parent
.sidebar {
    visibility: hidden;
    position: fixed;
    display: block;
    flex-direction: column;
    
    min-height: 100vh;
    z-index: 29;
    transition: transform 0.35s, visibility 0s 0.35s;
    left: 0;
    width: 100%;
    
    transform: translateX(-100%);
    
    &.active {
        visibility: visible;
        transform: translateX(0%);
        transition-delay: 0s;
    }
    
    &.right {
        left: unset;
        right: 0;
        transform: translateX(100%);
    }

    @each $size-name, $size-value in $sidebar-sizes {
        &\.#{$size-name} {
            max-width: $size-value;
        }
    }
}

.sidebar {
    & .nitem {
        display: flex;
        font-size: 1rem;
        
        padding: 1rem;
        color: var(--zinc-400);
        transition: 0.1s;
        cursor: pointer;

        & .icon {
            box-sizing: content-box;
            padding-right: 0.5rem;
            width: 100%;
            max-width: 1.25rem;
        }
        & .text {
            padding-right: 0.25rem;
            width: 100%;
        }
    }
    & .item:hover {
        background: rgba(255,255,255,0.05);
    }
}

.sidebar .nav-link[data-toggle=collapse]::after {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-size: 1rem;
    
    position: absolute;
    top: 50%;
    right: 1.5rem;
    
    transform: translate(0,-50%);
}
.sidebar .nav-link[data-expanded=true][data-toggle=collapse]::after {
    content: "\f107";
}

@media only screen and (max-width: 769px) {
    .sidebar {
        left: 0 !important;
        right: 0 !important;
        
        width: 100%;
        max-width: 100% !important;
        
        transform: translateY(100%);
        
        &.active {
            transform: translateY(0%);
        }
    }
}