.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    border-bottom: 1px solid var(--sandvik-100);
}
.tab {
    border-radius: var(--border-radius);
    line-height: 2.25rem;
    padding: 0 1rem;
    margin-bottom: -1px;
    cursor: pointer;
    border: 1px solid transparent;
    &.active {
        border-color: var(--sandvik-200) var(--sandvik-200) var(--white);
    }
    &.disabled {
        pointer-events: none;
    }
}
*[data-toggle=tab] * {
    pointer-events: none;
}

.tab-pane {
    display: none;
    &.active {
        display: block;
    }
    
}