@for $i from 0 through 6 {
	.gap\.#{$i} { gap: 0.25rem * $i; }
	.gap\.#{$i}\! { gap: 0.25rem * $i !important; }
	
	.gap\.#{$i}rem { gap: 1rem * $i; }
	.gap\.#{$i}rem\! { gap: 1rem * $i !important; }
}

@for $i from 0 through 8 {
	$gap: 0.25rem;
	.margin-gap\.#{$i} {
		margin: $i * $gap * -1;
		& > * { padding: $i * $gap * 0.5; }
	}
	.margin-gap\.#{$i}\! {
		margin: $i * $gap * -1 !important;
		& > * { padding: $i * $gap * 0.5 !important; }
	}
	.margin-gap\.#{$i}rem {
		margin: $i * $gap * -1;
		& > * { padding: $i * $gap * 0.5; }
	}
	.margin-gap\.#{$i}rem\! {
		margin: $i * -1rem !important;
		& > * { padding: $i * 0.5rem !important; }
	}
}