@import '../utilities/mixins.scss';

$margin-step: 0.25rem;

@mixin margins($prefix,$suffix,$unit) {

   @each $value in (auto, 0) {
      .#{$prefix}m\.#{$value}#{$suffix},
      .#{$prefix}margin\.#{$value}#{$suffix} { margin: $value !important; }

      .#{$prefix}my\.#{$value}#{$suffix},
      .#{$prefix}margin-y\.#{$value}#{$suffix},
      .#{$prefix}mv\.#{$value}#{$suffix},
      .#{$prefix}margin-v\.#{$value}#{$suffix},
      .#{$prefix}margin-vertical\.#{$value}#{$suffix},
      .#{$prefix}mt\.#{$value}#{$suffix},
      .#{$prefix}margin-t\.#{$suffix},
      .#{$prefix}margin-top\.#{$value}#{$suffix} { margin-top: $value !important; }

      .#{$prefix}mx\.#{$value}#{$suffix},
      .#{$prefix}margin-x\.#{$value}#{$suffix},
      .#{$prefix}mh\.#{$value}#{$suffix},
      .#{$prefix}margin-h\.#{$value}#{$suffix},
      .#{$prefix}margin-horizontal\.#{$value}#{$suffix},
      .#{$prefix}mr\.#{$value}#{$suffix},
      .#{$prefix}margin-r\.#{$suffix},
      .#{$prefix}margin-right\.#{$value}#{$suffix} { margin-right: $value !important; }
      
      .#{$prefix}my\.#{$value}#{$suffix},
      .#{$prefix}margin-y\.#{$value}#{$suffix},
      .#{$prefix}mv\.#{$value}#{$suffix},
      .#{$prefix}margin-v\.#{$value}#{$suffix},
      .#{$prefix}margin-vertical\.#{$value}#{$suffix},
      .#{$prefix}mb\.#{$value}#{$suffix},
      .#{$prefix}margin-b\.#{$suffix},
      .#{$prefix}margin-bottom\.#{$value}#{$suffix} { margin-bottom: $value !important; }

      .#{$prefix}mx\.#{$value}#{$suffix},
      .#{$prefix}margin-x\.#{$value}#{$suffix},
      .#{$prefix}mh\.#{$value}#{$suffix},
      .#{$prefix}margin-h\.#{$value}#{$suffix},
      .#{$prefix}margin-horizontal\.#{$value}#{$suffix},
      .#{$prefix}ml\.#{$value}#{$suffix},
      .#{$prefix}margin-l\.#{$suffix},
      .#{$prefix}margin-left\.#{$value}#{$suffix} { margin-left: $value !important; }
   }

   @for $i from 1 through 6 {
      // margin
      .#{$prefix}m\.#{$i}#{$suffix},
      .#{$prefix}margin\.#{$i}#{$suffix} { margin: #{$i * $unit} !important; }
      
      .#{$prefix}m\.#{$i}#{$suffix},
      .#{$prefix}margin\.#{$i}#{$suffix} { margin: #{$i * $unit * -1} !important; }

      .#{$prefix}my\.n#{$i}#{$suffix},
      .#{$prefix}margin-y\.n#{$i}#{$suffix},
      .#{$prefix}mv\.n#{$i}#{$suffix},
      .#{$prefix}margin-v\.n#{$i}#{$suffix},
      .#{$prefix}margin-vertical\.n#{$i}#{$suffix},
      .#{$prefix}mt\.n#{$i}#{$suffix},
      .#{$prefix}margin-t\.n#{$i}#{$suffix},
      .#{$prefix}margin-top\.n#{$i}#{$suffix} { margin-top: #{$i * $unit} !important; }
      
      .#{$prefix}my\.n#{$i}#{$suffix},
      .#{$prefix}margin-y\.n#{$i}#{$suffix},
      .#{$prefix}mv\.n#{$i}#{$suffix},
      .#{$prefix}margin-v\.n#{$i}#{$suffix},
      .#{$prefix}margin-vertical\.n#{$i}#{$suffix},
      .#{$prefix}mt\.n#{$i}#{$suffix},
      .#{$prefix}margin-t\.n#{$i}#{$suffix},
      .#{$prefix}margin-top\.n#{$i}#{$suffix} { margin-top: #{$i * $unit * -1} !important; }

      .#{$prefix}mx\.n#{$i}#{$suffix},
      .#{$prefix}margin-x\.n#{$i}#{$suffix},
      .#{$prefix}mh\.n#{$i}#{$suffix},
      .#{$prefix}margin-h\.n#{$i}#{$suffix},
      .#{$prefix}margin-horizontal\.n#{$i}#{$suffix},
      .#{$prefix}mr\.n#{$i}#{$suffix},
      .#{$prefix}margin-r\.n#{$i}#{$suffix},
      .#{$prefix}margin-right\.n#{$i}#{$suffix} { margin-right: #{$i * $unit} !important; }
      
      .#{$prefix}mx\.n#{$i}#{$suffix},
      .#{$prefix}margin-x\.n#{$i}#{$suffix},
      .#{$prefix}mh\.n#{$i}#{$suffix},
      .#{$prefix}margin-h\.n#{$i}#{$suffix},
      .#{$prefix}margin-horizontal\.n#{$i}#{$suffix},
      .#{$prefix}mr\.n#{$i}#{$suffix},
      .#{$prefix}margin-r\.n#{$i}#{$suffix},
      .#{$prefix}margin-right\.n#{$i}#{$suffix} { margin-right: #{$i * $unit * -1} !important; }
      
      .#{$prefix}my\.n#{$i}#{$suffix},
      .#{$prefix}margin-y\.n#{$i}#{$suffix},
      .#{$prefix}mv\.n#{$i}#{$suffix},
      .#{$prefix}margin-v\.n#{$i}#{$suffix},
      .#{$prefix}margin-vertical\.n#{$i}#{$suffix},
      .#{$prefix}mb\.n#{$i}#{$suffix},
      .#{$prefix}margin-b\.n#{$i}#{$suffix},
      .#{$prefix}margin-bottom\.n#{$i}#{$suffix} { margin-bottom: #{$i * $unit} !important; }

      .#{$prefix}my\.n#{$i}#{$suffix},
      .#{$prefix}margin-y\.n#{$i}#{$suffix},
      .#{$prefix}mv\.n#{$i}#{$suffix},
      .#{$prefix}margin-v\.n#{$i}#{$suffix},
      .#{$prefix}margin-vertical\.n#{$i}#{$suffix},
      .#{$prefix}mb\.n#{$i}#{$suffix},
      .#{$prefix}margin-b\.n#{$i}#{$suffix},
      .#{$prefix}margin-bottom\.n#{$i}#{$suffix} { margin-bottom: #{$i * $unit * -1} !important; }

      .#{$prefix}mx\.n#{$i}#{$suffix},
      .#{$prefix}margin-x\.n#{$i}#{$suffix},
      .#{$prefix}mh\.n#{$i}#{$suffix},
      .#{$prefix}margin-h\.n#{$i}#{$suffix},
      .#{$prefix}margin-horizontal\.n#{$i}#{$suffix},
      .#{$prefix}ml\.n#{$i}#{$suffix},
      .#{$prefix}margin-l\.n#{$i}#{$suffix},
      .#{$prefix}margin-left\.n#{$i}#{$suffix} { margin-left: #{$i * $unit} !important; }
      
      .#{$prefix}mx\.n#{$i}#{$suffix},
      .#{$prefix}margin-x\.n#{$i}#{$suffix},
      .#{$prefix}mh\.n#{$i}#{$suffix},
      .#{$prefix}margin-h\.n#{$i}#{$suffix},
      .#{$prefix}margin-horizontal\.n#{$i}#{$suffix},
      .#{$prefix}ml\.n#{$i}#{$suffix},
      .#{$prefix}margin-l\.n#{$i}#{$suffix},
      .#{$prefix}margin-left\.n#{$i}#{$suffix} { margin-left: #{$i * $unit * -1} !important; }
   }
}

@each $suffix, $unit in ('': $margin-step, 'rem': 1rem) {
   @include margins('',$suffix,$unit);
   @each $prefix in (sm,md,lg,xl,xxl) {
      @include media-breakpoint($prefix) {
         @include margins($prefix + '\\:',$suffix,$unit);
      }
   }
}